.site-branding {
    @include nest;
    grid-column-gap: 0.5rem;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-areas: "a . c""a b d";
    font-family: $PlayFont;

    .flexing1 {
        grid-area: a;
        @include divFlexEnd;

        a {
            @include aFormating;
            color: #d82142;
            @include divFlexEnd;

            h1 {
                @include noMP;
                font-size: 7rem;
                font-weight: 100;
                text-transform: uppercase;
            }
        }
    }

    .flexing2 {
        @include divFlexEnd;
        grid-area: b;

        .headL {
            @include divFlexEnd;
            margin-bottom: 2.2rem;

            a {
                @include aFormating;
                color: #666666;

                h6 {
                    i {
                        padding-right: 0.5rem;
                    }

                    @include noMP;
                    padding-top: 0.5rem;
                }
            }
        }
    }

    .flexing3 {
        grid-area: c;
        @include divFlexEnd;

        .headN {
            @include ulFormating;
            @include noMP;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            text-align: left;

            li {
                font-size: 1rem;
                margin: 0rem;

                a {
                    @include aFormating;
                    color: #d82142;
                }
            }
        }
    }

    .flexing4 {
        grid-area: d;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .form-inline {
            @include noMP;
            width: 100%;
            margin-top: 1rem;

            input {
                width: 80%;
                height: 3rem;
            }

            button {
                height: 3rem;
            }
        }
    }
}